@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*, ::after::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 943.61px;
    height: 385.27px;
}
header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}
.title{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: rgb(128, 177, 189);
}
.second{
    background-color: rgb(230, 230, 230);
}
.block{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 100px;
}